.layout {
  flex-direction: column;
  flex: 1;

  .content {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: start;
    text-align: center;
    z-index: -1;
  }
}
